<div class="aw-item">
    <div class="mod-head">
        <a class="anchor"></a>
        <a class="aw-user-img aw-border-radius-5 pull-right" href="/user/<%= comment.author.name %>">
            <img src="<%= comment.author.avatar %>">
        </a>
        <div class="title">
            <p>
                <a class="aw-user-name" href="/user/<%= comment.author.name %>"> <%= comment.author.name %></a>

            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box">
            <%-  markdown(comment.content) %>
            <span>
                   <span class="operate">
                        <a class="agree">
                            <i class="fa fa-thumbs-o-up"></i>
                            <b class="count">0</b>
                        </a>
                        <a class="disagree">
                            <i class="fa fa-thumbs-o-down"></i>
                        </a>
                    </span>
            <span class="operate">
                        <a class="aw-show-comment">
                            回复
                        </a>
                    </span>
            </span>
            <span class="text-color-999 pull-right">
                   <%= comment.create_time_ago() %>
                    </span>
        </div>
    </div>
    <div class="mod-footer foter hide" style="margin-top: 10px">
        <div class="meta clearfix">
        </div>
        <form  action="" style="background:none;padding:0px 0px 10px 0">
            <div class="aw-comment-box-main">
                <div class="comment_markdown " placeholder="回复某个人" contenteditable disabled></div>
                <div class="aw-comment-box-btn" style="display: block;">
                            <span class="pull-right">
                                <a disabled class="commentBtn commentBtn-one btn btn-default btn-success">
                                    评论
                                </a>
                                <a class="btn btn-primary close-comment-box">
                                    取消
                                </a>
                            </span>
                </div>
            </div>
        </form>
    </div>
</div>
