<div class="aw-item" message_id="">
    <p>
        <span class="pull-right text-color-999"></span>
        <em class="pull-left">
            <a href="/user/<%= message.author_id.name%>" class="aw-user-name">
                <%= message.author_id.name %>
            </a>
            在问题
        </em>
        <a href="/question/<%= message.question_id.id%>#<%= message.reply_id._id%>" class="aw-hide-txt">
            <%= message.question_id.title %>
        </a>回复了我
    </p>
</div>